<!doctype html>
<html lang="en">
    <head
        ><meta charset="UTF-8" /><link
            rel="icon"
            type="image/svg+xml"
            href="/favicon.png"
        /><meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        /><meta
            name="description"
            content="Soluciones a medida para el sector público. Transforma tu institución con nuestros expertos."
        /><link rel="preconnect" href="https://fonts.googleapis.com" /><link
            rel="preconnect"
            href="https://fonts.gstatic.com"
            crossorigin
        /><link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
        /><link rel="stylesheet" href="src/swiper-bundle.min.css" /><link
            href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
            rel="stylesheet"
        /><link
            href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Manrope:wght@200..800&display=swap"
            rel="stylesheet"
        /><link
            href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
            rel="stylesheet"
        /><link rel="stylesheet" href="/src/styles/global.css" /><title>
            IdeaPro | Servicios
        </title><link
            rel="stylesheet"
            href="/_astro/avisoPrivacidad.DR-ow8yA.css"
        /><script type="module" src="/_astro/hoisted.BJTP8X9i.js"
        ></script></head
    >
    <body>
        <header
            class="bg-cover bg-no-repeat h-[400px]"
            style="background-image: url(/images/header_servicios.png)"
        >
            <section
                class="fixed left-0 right-0 top-[35px] mx-[20px] md:mx-[60px] lg:mx-[100px] mb-[100px] z-[1000]"
            >
                <nav id="Navbar" class="mx-auto items-center max-w-[1240px]">
                    <div
                        id="Container"
                        class="lg:flex justify-between items-center h-[80px] rounded-[20px] shadow-2xl bg-Crema opacity-[98.9%] lg:opacity-[87%]"
                    >
                        <div id="flex_logo">
                            <div
                                id="image"
                                class="items-center max-w-[250px] lg:max-w-[300px] lg:mt-[-11%]"
                            >
                                <a href="/"
                                    ><img
                                        src="images/Logo_principal.png"
                                        class="max-w-full h-auto"
                                        alt=""
                                    /></a
                                >
                            </div>
                        </div>
                        <div
                            id="flex_links"
                            class="h-[450px] pt-[30px] mt-[15px] px-[25px] opacity-0 hidden bg-Azul rounded-[20px] shadow-lg lg:opacity-100 lg:px-[0] lg:block lg:shadow-none lg:pt-[0] lg:mt-[0] lg:static lg:bg-transparent lg:h-auto lg:place-content-center"
                        >
                            <div
                                class="flex flex-col gap-[30px] lg:flex-row lg:flex lg:gap-[25px] items-center justify-end"
                            >
                                <a
                                    href="/"
                                    class="p-1 relative w-full text-center font-Figtree justify-self-center font-semibold text-white text-[120%] lg:text-[90%] xl:text-[125%] lg:text-Azul group"
                                >
                                    Inicio
                                    <span
                                        class="absolute left-0 bottom-0 w-full h-[2px] bg-Amarillo scale-x-0 group-hover:scale-x-100 transition-transform duration-500"
                                    ></span>
                                </a>
                                <a
                                    href="/servicios"
                                    class="p-1 relative w-full text-center font-Figtree font-semibold text-white text-[120%] lg:text-[90%] xl:text-[125%] lg:text-Azul group"
                                >
                                    Servicios
                                    <span
                                        class="absolute left-0 bottom-0 w-full h-[2px] bg-Amarillo scale-x-0 group-hover:scale-x-100 transition-transform duration-500"
                                    ></span>
                                </a>
                                <a
                                    href="/experiencias"
                                    class="p-1 relative w-full text-center font-Figtree font-semibold text-white text-[120%] lg:text-[90%] xl:text-[125%] lg:text-Azul group"
                                >
                                    Experiencias
                                    <span
                                        class="absolute left-0 bottom-0 w-full h-[2px] bg-Amarillo scale-x-0 group-hover:scale-x-100 transition-transform duration-500"
                                    ></span>
                                </a>
                                <a
                                    href="/novedades"
                                    class="p-1 relative w-full text-center font-Figtree font-semibold text-white text-[120%] lg:text-[90%] xl:text-[125%] lg:text-Azul group"
                                >
                                    Novedades
                                    <span
                                        class="absolute left-0 bottom-0 w-full h-[2px] bg-Amarillo scale-x-0 group-hover:scale-x-100 transition-transform duration-500"
                                    ></span>
                                </a>
                                <a
                                    href="/conocenos"
                                    class="p-1 relative w-full text-center font-Figtree font-semibold text-white text-[120%] lg:text-[90%] xl:text-[125%] lg:text-Azul group"
                                >
                                    Conócenos
                                    <span
                                        class="absolute left-0 bottom-0 w-full h-[2px] bg-Amarillo scale-x-0 group-hover:scale-x-100 transition-transform duration-500"
                                    ></span>
                                </a>
                                <a
                                    href="/contactanos"
                                    class="font-Figtree font-bold w-full text-center text-[120%] lg:block lg:text-[100%] xl:text-[125%] bg-Amarillo text-white hover:bg-white hover:text-Azul lg:border-2 lg:bg-transparent lg:border-Amarillo lg:text-Amarillo rounded-[5px] py-[10px] px-[14px] lg:mr-[25px] lg:hover:bg-Azul lg:hover:border-Azul lg:hover:text-white transition-transform duration-500"
                                >
                                    Contáctanos
                                </a>
                            </div>
                        </div>
                        <div
                            id="hamburger"
                            class="absolute top-[40%] right-[25px] max-w-[45px] lg:hidden"
                        >
                            <img
                                id="icon"
                                src="/images/menu_normal.png"
                                alt=""
                                class="transition-opacity duration-300 ease-in-out"
                            />
                        </div>
                    </div>
                </nav>
            </section>
            <section
                class="mx-[20px] md:mx-[60px] lg:mx-[100px] pt-[180px] pb-[80px]"
            >
                <div id="container" class="mx-auto pl-[5%] max-w-[1240px]">
                    <h1
                        class="font-Cocogoose inline-block text-[400%] lg:text-[450%] leading-[0.9]"
                    >
                        <span
                            class="block font-bold text-Amarillo hover:text-white transition-colors"
                            >Nuestros</span
                        >
                        <span
                            class="block font-thin italic text-white hover:text-Amarillo transition-colors"
                            >Servicios</span
                        >
                    </h1>
                </div>
            </section>
        </header>
        <section
            id="service1"
            class="bg-white pt-[30px] p-auto lg:pt-[70px] lg:pb-[140px] px-[4%]"
        >
            <div id="container" class="max-w-[1240px] mx-auto">
                <div
                    id="flexbox"
                    class="flex flex-col lg:flex lg:flex-row lg:justify-between place-items-center"
                >
                    <div id="flex_shape" class="mr-[-20%]">
                        <div
                            id="circle"
                            class="rounded-full pl-[6%] pr-[10%] h-[500px] w-[500px] border-[20px] lg:ml-[-250px] lg:w-[690px] lg:px-[200px] lg:h-[690px] xl:ml-[-200px] xl:w-[690px] xl:h-[690px] xl:px-[150px] place-content-center leading-[50px] text-[360%] shadow-2xl font-Cocogoose text-white lg:border-[30px] border-Amarillo bg-cover bg-[url('/images/servicio1.png')]"
                        >
                            <span class="font-thin">Entidades</span>
                            <span class="font-normal">con Gestión Pro</span>
                        </div>
                    </div>
                    <div
                        class="lg:max-w-[500px] xl:max-w-[625px] text-[127%] font-Figtree leading-[199%] pt-[20px] lg:pt-[120px]"
                    >
                        <p class="mb-[20px] selection:bg-Amarillo text-justify">
                            Con la articulación de herramientas de planificación
                            como son: El plan de desarrollo territorial, el POAI
                            y el Banco de programas y proyectos, contribuimos a
                            mejorar sus resultados y el impacto de la gestión
                            presupuestal de su entidad mejorando la medición del
                            desempeño.
                        </p>
                        <img
                            src="images/servicios_line1.png"
                            alt=""
                            class="max-w-[400px] mx-auto lg:hover:scale-110 transition-transform"
                        />
                    </div>
                </div>
            </div>
        </section>
        <section
            id="service2"
            class="bg-Azul p-auto pt-[50px] lg:pt-[70px] lg:pb-[140px] px-[4%] overflow-hidden"
        >
            <div id="container" class="max-w-[1240px] mx-auto">
                <div
                    id="flexbox"
                    class="flex flex-col lg:flex lg:flex-row justify-between place-items-center"
                >
                    <div id="flex_shape" class="lg:order-2 ml-[-20%]">
                        <div
                            id="circle"
                            class="rounded-full h-[500px] w-[500px] pl-[10%] border-[20px] lg:mr-[-200px] lg:w-[690px] lg:px-[20px] lg:h-[690px] xl:mr-[-200px] xl:w-[690px] xl:h-[690px] xl:px-[50px] place-content-center leading-[50px] text-[300%] lg:text-[360%] shadow-2xl font-Cocogoose text-white lg:border-[30px] border-Amarillo bg-cover bg-[url('/images/servicio2.png')]"
                        >
                            <span class="font-thin block">Entrenamiento</span>
                            <span class="font-normal">Pro</span>
                        </div>
                    </div>
                    <div
                        class="lg:max-w-[500px] xl:max-w-[625px] text-[127%] font-Figtree leading-[199%] pt-[20px] lg:pt-[120px]"
                    >
                        <p
                            class="mb-[20px] selection:bg-Amarillo text-white text-justify"
                        >
                            Preparación en la gestión de proyectos (ML, PMI,
                            SCRUM), ​metodologías ágiles en la gerencia pública
                            de ​capacitaciones y las políticas públicas;
                            impulsando la ​formación para el trabajo y el
                            desarrollo humano. Le ​guiaremos por las plataformas
                            oficiales del DNP, Colombia ​Compra Eficiente,
                            Ministerio de Hacienda, Crédito Público, ​Contaduría
                            General de la Nación, Función Pública, entre ​otras.
                        </p>
                        <img
                            src="images/servicios_line2.png"
                            alt=""
                            class="max-w-[400px] max-h-[400px] mx-auto lg:hover:scale-125 transition-transform"
                        />
                    </div>
                </div>
            </div>
        </section>
        <section
            id="service3"
            class="bg-white pt-[50px] p-auto lg:pt-[70px] lg:pb-[140px] px-[4%]"
        >
            <div id="container" class="max-w-[1240px] mx-auto">
                <div
                    id="flexbox"
                    class="flex flex-col lg:flex lg:flex-row lg:justify-between place-items-center"
                >
                    <div id="flex_shape" class="mr-[-25%]">
                        <div
                            id="circle"
                            class="rounded-full pl-[6%] pr-[10%] h-[500px] w-[500px] border-[20px] lg:ml-[-250px] lg:w-[690px] lg:px-[200px] lg:h-[690px] xl:ml-[-200px] xl:w-[690px] xl:h-[690px] xl:px-[150px] place-content-center leading-[50px] text-[360%] shadow-2xl font-Cocogoose text-white lg:border-[30px] border-Amarillo bg-cover bg-[url('/images/servicio3.png')]"
                        >
                            <span class="font-thin">Estratégica</span>
                            <span class="font-normal">Pro</span>
                        </div>
                    </div>
                    <div
                        class="relative pl-[5%] max-w-[400px] lg:max-w-[625px] text-[140%] lg:pl-[12%] font-Figtree leading-[199%]"
                    >
                        <p class="mb-[50px]"></p><ol
                            class="list-disc font-Figtree selection:bg-Azul"
                        >
                            <li class="hover:text-Amarillo transition-colors">
                                Desarrollo de software a la medida
                            </li>
                            <li class="hover:text-Amarillo transition-colors">
                                PMO - Project Management Office.
                            </li>
                            <li class="hover:text-Amarillo transition-colors">
                                Modelo de gestión del conocimiento.
                            </li>
                            <li class="hover:text-Amarillo transition-colors">
                                Procesos gestión del cambio.
                            </li>
                            <li class="hover:text-Amarillo transition-colors">
                                Ranking de desempeño territorial.
                            </li>
                            <li class="hover:text-Amarillo transition-colors">
                                Eventos de gerencia pública.
                            </li>
                        </ol>
                        <img
                            src="images/servicios_line3.png"
                            alt=""
                            class="sticky bottom-0 max-w-[500px] mt-[20px] ml-[-20%] hover:scale-110 transition-transform"
                        />
                    </div>
                </div>
            </div>
        </section>
        <section
            id="plataforms"
            class="bg-[#17202a] lg:px-[100px] py-[40px] lg:py-[80px] px-[0%]"
        >
            <div id="container" class="max-w-[1240px] mx-auto">
                <h1
                    class="font-Cocogoose font-light text-white text-[150%] px-[2%] max-w-[450px] lg:text-[250%] lg:px-[0] lg:max-w-[930px] leading-[0.9] mb-[30px] lg:mb-[60px]"
                >
                    Plataformas que puedes <span class="font-bold"
                        >aprender</span
                    > a usar <span class="font-bold">con nosotros</span>
                </h1>
                <div
                    id="carrousel"
                    class="hidden snap-x overflow-x-scroll gap-4"
                >
                    <div class="snap-start relative flex-shrink-0 group">
                        <div
                            class="absolute w-full h-full scale-0 rounded-[10px] bg-Amarillo p-[5%] font-Figtree text-black text-[110%] leading-[1.7] group-hover:scale-100 transition-transform duration-500"
                        >
                            La Metodología General Ajustada (MGA)1 es una
                            aplicación informática que sigue un orden lógico
                            para el registro de la información más relevante
                            resultado del proceso de formulación y
                            estructuración de los proyectos de inversión
                            pública.
                        </div>
                        <img
                            src="images/MGA_target1.png"
                            class="lg:h-[250px] lg:w-[450px] group-hover:opacity-0"
                        />
                    </div>
                    <div class="snap-start relative flex-shrink-0 group">
                        <div
                            class="absolute w-full h-full scale-0 rounded-[10px] bg-Amarillo p-[5%] font-Figtree text-black text-[110%] leading-[1.7] group-hover:scale-100 transition-transform duration-500"
                        >
                            La Medición de la Gestión y Desempeño Institucional
                            en Colombia se hace a través del Formulario Único de
                            Reporte y Avance de Gestión (FURAG)
                        </div>
                        <img
                            src="images/FURAG_target2.png"
                            class="lg:h-[250px] lg:w-[450px] group-hover:opacity-0"
                        />
                    </div>
                    <div class="snap-start relative flex-shrink-0 group">
                        <div
                            class="absolute w-full h-full scale-0 rounded-[10px] bg-Amarillo p-[5%] font-Figtree text-black text-[110%] leading-[1.7] group-hover:scale-100 transition-transform duration-500"
                        >
                            El Índice de Transparencia y Acceso a la Información
                            Pública (ITA) de la Procuraduría General de la
                            Nación mide exclusivamente el grado de cumplimiento
                            de las obligaciones de publicar o Transparentizar su
                            información derivadas
                        </div>
                        <img
                            src="images/ITA_target3.png"
                            class="lg:h-[250px] lg:w-[450px] group-hover:opacity-0"
                        />
                    </div>
                    <div class="snap-start relative flex-shrink-0 group">
                        <div
                            class="absolute w-full h-full scale-0 rounded-[10px] bg-Amarillo p-[5%] font-Figtree text-black text-[110%] leading-[1.7] group-hover:scale-100 transition-transform duration-500"
                        >
                            Es una herramienta de gestión y control preventivo
                            creada a partir del análisis de la información
                            registrada por las entidades ejecutoras de recursos
                            del Sistema General de Regalías (SGR) en el
                            aplicativo GESPROY dispuesto para este fin.
                        </div>
                        <img
                            src="images/GESPROY_target4.png"
                            class="lg:h-[250px] lg:w-[450px] group-hover:opacity-0"
                        />
                    </div>
                    <div class="snap-start relative flex-shrink-0 group">
                        <div
                            class="absolute w-full h-full scale-0 rounded-[10px] bg-Amarillo p-[5%] font-Figtree text-black text-[110%] leading-[1.7] group-hover:scale-100 transition-transform duration-500"
                        >
                            El Consolidador de Hacienda e Información Financiera
                            Pública - CHIP- es una herramienta a través de la
                            cual se genera, transmite y difunde la información
                            financiera producida por las entidades públicas con
                            destino al gobierno central, las entidades de
                            control y la ciudadanía en general.
                        </div>
                        <img
                            src="images/CHIP_target5.png"
                            class="lg:h-[250px] lg:w-[450px] group-hover:opacity-0"
                        />
                    </div>
                    <div class="snap-start relative flex-shrink-0 group">
                        <div
                            class="absolute w-full h-full scale-0 rounded-[10px] bg-Amarillo p-[5%] font-Figtree text-black text-[110%] leading-[1.7] group-hover:scale-100 transition-transform duration-500"
                        >
                            Examina las cuentas a fin de velar por la legalidad
                            de los ingresos, gastos e integridad del patrimonio
                            estatal. Juzga las cuentas de las personas o
                            funcionarios que tienen a su cargo fondos o bienes
                            públicos, con el objeto de hacer efectiva su
                            responsabilidad patrimonial.
                        </div>
                        <img
                            src="images/CONTRALORIA_target6.png"
                            class="lg:h-[250px] lg:w-[450px] group-hover:opacity-0"
                        />
                    </div>
                    <div class="snap-start relative flex-shrink-0 group">
                        <div
                            class="absolute w-full h-full scale-0 rounded-[10px] bg-Amarillo p-[5%] font-Figtree text-black text-[110%] leading-[1.7] group-hover:scale-100 transition-transform duration-500"
                        >
                            Es la plataforma en la cual las Entidades Estatales
                            deben publicar los Documentos del Proceso, desde la
                            planeación del contrato hasta su liquidación.
                            También permite a las Entidades Estatales y al
                            sector privado tener una comunicación abierta y
                            reglada sobre los Procesos de Contratación.
                        </div>
                        <img
                            src="images/SECOPI_target7.png"
                            class="lg:h-[250px] lg:w-[450px] group-hover:opacity-0"
                        />
                    </div>
                    <div class="snap-start relative flex-shrink-0 group">
                        <div
                            class="absolute w-full h-full scale-0 rounded-[10px] bg-Amarillo p-[5%] font-Figtree text-black text-[110%] leading-[1.7] group-hover:scale-100 transition-transform duration-500"
                        >
                            El SECOP II es unaplataforma transaccional para
                            gestionar en línea todos los Procesos de
                            Contratación, con cuentas para entidades y
                            proveedores; y vista pública para cualquier tercero
                            interesado en hacer seguimiento a la contratación
                            pública.
                        </div>
                        <img
                            src="images/SECOPII_target8.png"
                            class="lg:h-[250px] lg:w-[450px] group-hover:opacity-0"
                        />
                    </div>
                    <div class="snap-start relative flex-shrink-0 group">
                        <div
                            class="absolute w-full h-full scale-0 rounded-[10px] bg-Amarillo p-[5%] font-Figtree text-black text-[110%] leading-[1.7] group-hover:scale-100 transition-transform duration-500"
                        >
                            SIA Observa es una plataforma WEB cuya funcionalidad
                            principal es ofrecer a las entidades de control
                            fiscal y a los Sujetos Vigilados, una herramienta de
                            captura de información contractual y presupuestal
                            para la toma decisiones oportuna y con carácter
                            preventivo.
                        </div>
                        <img
                            src="images/SIA_target9.png"
                            class="lg:h-[250px] lg:w-[450px] group-hover:opacity-0"
                        />
                    </div>
                    <div class="snap-start relative flex-shrink-0 group">
                        <div
                            class="absolute w-full h-full scale-0 rounded-[10px] bg-Amarillo p-[5%] font-Figtree text-black text-[110%] leading-[1.7] group-hover:scale-100 transition-transform duration-500"
                        >
                            El SISPRO centraliza datos del Sector Salud y
                            Protección Social para apoyar la toma de decisiones,
                            enfocándose en la oferta, demanda, calidad de
                            servicios, aseguramiento y financiamiento.
                        </div>
                        <img
                            src="images/SISPRO_target10.png"
                            class="lg:h-[250px] lg:w-[450px] group-hover:opacity-0"
                        />
                    </div>
                    <div class="snap-start relative flex-shrink-0 group">
                        <div
                            class="absolute w-full h-full scale-0 rounded-[10px] bg-Amarillo p-[5%] font-Figtree text-black text-[110%] leading-[1.7] group-hover:scale-100 transition-transform duration-500"
                        >
                            El Sistema General de Regalías es el mecanismo
                            mediante el cual se garantiza la distribución
                            equitativa de los ingresos que derivan de la
                            explotación de los recursos naturales no renovables
                            del país, generando mecanismos de reinversión de
                            dichos ingresos hacia la población más pobre.
                        </div>
                        <img
                            src="images/SPGR_target11.png"
                            class="lg:h-[250px] lg:w-[450px] group-hover:opacity-0"
                        />
                    </div>
                    <div class="snap-start relative flex-shrink-0 group">
                        <div
                            class="absolute w-full h-full scale-0 rounded-[10px] bg-Amarillo p-[5%] font-Figtree text-black text-[110%] leading-[1.7] group-hover:scale-100 transition-transform duration-500"
                        >
                            Es el Sistema Único de Información oficial del
                            sector de servicios públicos domiciliarios del país
                            que recoge, almacena, procesa y publica información
                            reportada por parte de las empresas prestadoras y
                            entidades territoriales. El sistema está a cargo de
                            la Superintendencia de Servicios Públicos
                            Domiciliarios.
                        </div>
                        <img
                            src="images/SUI_target12.png"
                            class="lg:h-[250px] lg:w-[450px] group-hover:opacity-0"
                        />
                    </div>
                </div>
            </div>
        </section>
        <footer class="w-full p-0" style="background: #1E2B39;">
            <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-4">
                <div class="md:flex md:justify-between">
                    <div class="mb-6 md:mb-0">
                        <a href="/" class="flex items-start">
                            <img
                                src="/images/Logo.png"
                                alt="Logo IDEAPRO"
                                style="width: 318px"
                            />
                            <span
                                class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
                            ></span>
                        </a>
                    </div>
                    <div
                        class="grid grid-cols-2 gap-8 sm:gap-32 sm:grid-cols-3"
                    >
                        <div>
                            <h2
                                class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white"
                            >
                            </h2>
                            <ul
                                class="text-gray-500 dark:text-white font-medium"
                            >
                                <li class="mb-4">
                                    <a href="/conocenos" class="hover:underline"
                                        >Conócenos</a
                                    >
                                </li>
                                <li class="mb-4">
                                    <a href="" class="hover:underline"
                                        >Servicios</a
                                    >
                                </li>
                                <li class="mb-4">
                                    <a href="" class="hover:underline"
                                        >Experiencias</a
                                    >
                                </li>
                            </ul>
                        </div>
                        <div>
                            <h2
                                class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white"
                            >
                            </h2>
                            <ul
                                class="text-gray-500 dark:text-white font-medium"
                            >
                                <li class="mb-4">
                                    <a href="/novedades" class="hover:underline"
                                        >Novedades</a
                                    >
                                </li>
                                <li>
                                    <a href="" class="hover:underline"
                                        >Contactanos</a
                                    >
                                </li>
                            </ul>
                        </div>
                        <div>
                            <h2
                                class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white"
                            >
                            </h2>
                            <ul
                                class="text-gray-500 dark:text-gray-400 font-medium"
                            >
                                <li class="mb-4">
                                    <a href="#" class="hover:underline"></a>
                                </li>
                                <li>
                                    <a href="#" class="hover:underline"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="flex mt-24 sm:justify-center sm:mt-40">
                        <a
                            href="https://www.facebook.com/idea.pro.0/"
                            target="_blank"
                            class="text-gray-500 hover:text-gray-900 dark:hover:text-orange-500"
                        >
                            <svg
                                class="w-8 h-8"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                fill="currentColor"
                                viewBox="0 0 8 19"
                            >
                                <path
                                    fill-rule="evenodd"
                                    d="M6.135 3H8V0H6.135a4.147 4.147 0 0 0-4.142 4.142V6H0v3h2v9.938h3V9h2.021l.592-3H5V3.591A.6.6 0 0 1 5.592 3h.543Z"
                                    clip-rule="evenodd"></path>
                            </svg>
                            <span class="sr-only">Facebook page</span>
                        </a>
                        <a
                            href="https://www.linkedin.com/in/ideapro-consultores-582440212/"
                            target="_blank"
                            class="text-gray-500 hover:text-gray-900 dark:hover:text-orange-500 ms-5"
                        >
                            <svg
                                class="w-8 h-8"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                fill="currentColor"
                                viewBox="0 0 24 24"
                            >
                                <path
                                    d="M22.23 0H1.77C.79 0 0 .774 0 1.727v20.545C0 23.226.79 24 1.77 24h20.46c.98 0 1.77-.774 1.77-1.727V1.727C24 .774 23.21 0 22.23 0zM7.12 20.452H3.56V9h3.56v11.452zM5.34 7.673a2.062 2.062 0 1 1 0-4.125 2.062 2.062 0 0 1 0 4.125zM20.452 20.452h-3.56v-5.645c0-1.345-.027-3.077-1.877-3.077-1.877 0-2.164 1.467-2.164 2.98v5.742h-3.56V9h3.418v1.56h.05c.476-.9 1.637-1.848 3.367-1.848 3.6 0 4.27 2.37 4.27 5.455v6.285z"
                                ></path>
                            </svg>
                            <span class="sr-only">LinkedIn profile</span>
                        </a>
                        <a
                            href="https://www.instagram.com/ideapro.consultores/"
                            target="_blank"
                            class="text-gray-500 hover:text-gray-900 dark:hover:text-orange-500 ms-5"
                        >
                            <svg
                                class="w-8 h-8"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                fill="currentColor"
                                viewBox="0 0 24 24"
                            >
                                <path
                                    d="M12 2.163c3.204 0 3.584.012 4.85.07 1.366.062 2.633.33 3.608 1.305.976.976 1.244 2.243 1.306 3.609.057 1.265.069 1.645.069 4.849s-.012 3.584-.07 4.85c-.062 1.366-.33 2.633-1.305 3.608-.976.976-2.243 1.244-3.609 1.306-1.265.057-1.645.069-4.849.069s-3.584-.012-4.85-.07c-1.366-.062-2.633-.33-3.608-1.305-.976-.976-1.244-2.243-1.306-3.609C2.175 15.784 2.163 15.404 2.163 12s.012-3.584.07-4.85c.062-1.366.33-2.633 1.305-3.608.976-.976 2.243-1.244 3.609-1.306C8.415 2.175 8.795 2.163 12 2.163M12 0C8.741 0 8.332.015 7.052.072 5.77.13 4.683.398 3.768 1.313c-.915.915-1.184 2.003-1.242 3.284C2.015 5.674 2 6.084 2 9.343v5.314c0 3.259.015 3.669.072 4.95.058 1.281.327 2.369 1.242 3.284.915.915 2.003 1.184 3.284 1.242 1.281.057 1.691.072 4.95.072s3.669-.015 4.95-.072c1.281-.058 2.369-.327 3.284-1.242.915-.915 1.184-2.003 1.242-3.284.057-1.281.072-1.691.072-4.95V9.343c0-3.259-.015-3.669-.072-4.95-.058-1.281-.327-2.369-1.242-3.284-.915-.915-2.003-1.184-3.284-1.242C15.669.015 15.259 0 12 0zm0 5.838a6.163 6.163 0 1 0 0 12.326 6.163 6.163 0 0 0 0-12.326zm0 10.162a3.999 3.999 0 1 1 0-7.998 3.999 3.999 0 0 1 0 7.998zm6.406-11.845a1.44 1.44 0 1 1-2.88 0 1.44 1.44 0 0 1 2.88 0z"
                                ></path>
                            </svg>
                            <span class="sr-only">Instagram page</span>
                        </a>
                        <a
                            href="#"
                            class="text-gray-500 hover:text-gray-900 dark:hover:text-orange-500 ms-5"
                        >
                            <svg
                                class="w-8 h-8"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                fill="currentColor"
                                viewBox="0 0 24 24"
                            >
                                <path
                                    d="M23.498 6.186a2.987 2.987 0 0 0-2.106-2.11C19.61 3.5 12 3.5 12 3.5s-7.61 0-9.392.576a2.987 2.987 0 0 0-2.106 2.11C0 7.985 0 12 0 12s0 4.015.502 5.814a2.987 2.987 0 0 0 2.106 2.11C4.39 20.5 12 20.5 12 20.5s7.61 0 9.392-.576a2.987 2.987 0 0 0 2.106-2.11C24 16.015 24 12 24 12s0-4.015-.502-5.814zM9.75 15.02V8.98L15.5 12l-5.75 3.02z"
                                ></path>
                            </svg>
                            <span class="sr-only">YouTube channel</span>
                        </a>
                        <a
                            href="#"
                            class="text-gray-500 hover:text-gray-900 dark:hover:text-orange-500 ms-5"
                        >
                            <svg
                                class="w-8 h-8"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 20 20"
                                fill="currentColor"
                                class="icon icon-tabler icons-tabler-filled icon-tabler-brand-x"
                                ><path
                                    stroke="none"
                                    d="M0 0h24v24H0z"
                                    fill="none"></path><path
                                    d="M8.267 3a1 1 0 0 1 .73 .317l.076 .092l4.274 5.828l5.946 -5.944a1 1 0 0 1 1.497 1.32l-.083 .094l-6.163 6.162l6.262 8.54a1 1 0 0 1 -.697 1.585l-.109 .006h-4.267a1 1 0 0 1 -.73 -.317l-.076 -.092l-4.276 -5.829l-5.944 5.945a1 1 0 0 1 -1.497 -1.32l.083 -.094l6.161 -6.163l-6.26 -8.539a1 1 0 0 1 .697 -1.585l.109 -.006h4.267z"
                                ></path></svg
                            >
                            <span class="sr-only">X account</span>
                        </a>
                    </div>
                </div>
                <hr
                    class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8"
                />
                <div
                    class="sm:flex sm:items-center sm:justify-center mb-4 sm:gap-6"
                >
                    <a
                        href="/tratamientoDatosPersonales"
                        class="text-sm text-gray-500 sm:text-center dark:text-white"
                        >Tratamiento de Datos Personales</a
                    >
                    <a
                        href="/avisoPrivacidad"
                        class="text-sm text-gray-500 sm:text-center dark:text-white"
                        >Aviso de Privacidad</a
                    >
                    <a
                        href="/politicaCokies"
                        class="text-sm text-gray-500 sm:text-center dark:text-white"
                        >Política de Cookies</a
                    >
                </div>
                <div class="sm:flex sm:items-center sm:justify-center">
                    <span
                        class="text-sm text-gray-500 sm:text-center dark:text-gray-400"
                        >Todos los Derechos Reservados <a
                            href=""
                            class="hover:underline">@2024</a
                        >
                    </span>
                </div>
            </div>
        </footer>
    </body>
</html>
