---
import Estructura from "../Components/Estructura.astro";
---

<Estructura>

	<div class="mx-[25%] mt-[25vh] bg-white p-[20px] h-[400px] rounded-md shadow-xl place-content-center">
		<form name="contact" method="POST" data-netlify="true">
            <p>
              <label>Your Name: <input type="text" name="name" /></label>
            </p>
            <p>
              <label>Your Email: <input type="email" name="email" /></label>
            </p>
            <p>
              <label>Your Role: <select name="tipo[]">
                <option value="leader">Leader</option>
                <option value="follower">Follower</option>
              </select></label>
            </p>
            <p>
              <label>Message: <textarea name="message"></textarea></label>
            </p>
            <p>
              <button type="submit">Send</button>
            </p>
          </form>
          
	</div>
</Estructura>

<script>
	
const datos = {
	nombre: '',
	correo: '',
	tipo: ''
}

document.addEventListener('DOMContentLoaded', () => {
  const nombre = document.querySelector('#nombre').addEventListener('input', comprobar)
  const correo = document.querySelector('#correo').addEventListener('input', comprobar)
  const tipo = document.querySelector('#tipo').addEventListener('change', comprobar)
  const acept = document.querySelector('#acept')
  const prueba = document.querySelector('#prueba')
  

  function comprobar(valor){
	const errorName = document.querySelector('#errorName')
	const erroEmail = document.querySelector('#errorEmail')
	if (valor.target.id == 'nombre'){
		if (isNaN(valor.target.value) || valor.target.value == ''){
			errorName.classList.add('hidden')
			datos[valor.target.id] = valor.target.value
		}
		else{
			errorName.classList.remove('hidden')
		}
		
	}
	else if (valor.target.id == 'correo'){
		if (isNaN(valor.target.value) || valor.target.value == ''){
			erroEmail.classList.add('hidden')
			datos[valor.target.id] = valor.target.value
		}
		else {
			erroEmail.classList.remove('hidden')
		}
	}
	else{
		datos[valor.target.id] = valor.target.value
	}
	console.log(datos)
}
})

</script>